@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(40px, auto);

}
.text_p{
  grid-column: 2;
  grid-row: 2;
  font-family: 'Abril Fatface', cursive;
  font-size: 20px;
}
#hamburger{
  grid-column:11;
  grid-row: 2;
}
/*ANIMACIONES DEL BOTON DE MENU*/
#hamburger button {
  background: none;
  border: 1px solid rgb(212, 210, 210);
  cursor: pointer;
  padding: 0;
  width: 60px;
  height: 60px;
}
#hamburger button.open {
  border: 1px solid rgb(255, 255, 255);
}
.open_span{
  background: rgb(255, 255, 255) !important;
}
.open_text{
  color: rgb(255, 255, 255) !important;
}
#hamburger button span {
  border-radius: 5px;
  background: black;
  display: block;
  width: 60%;
  margin: 5px auto;
  height: 3px;

  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

#hamburger button.open .top-line {
  animation-name: top-line-animation;
}
#hamburger button.open .middle-line {
  animation-name: middle-line-animation;
}
#hamburger button.open .bottom-line {
  animation-name: bottom-line-animation;
}

#hamburger button .top-line {
  animation-name: top-line-animation-close;
}
#hamburger button .middle-line {
  animation-name: middle-line-animation-close;
}
#hamburger button .bottom-line {
  animation-name: bottom-line-animation-close;
}

@keyframes top-line-animation {
  50%,
  100% {
    margin: 0 auto;
    transform: translateY(2px) rotate(-45deg);
  }
}

@keyframes bottom-line-animation {
  50%,
  100% {
    margin: 0 auto;
    transform: translateY(-2px) rotate(45deg);
  }
}
@keyframes middle-line-animation {
  20%,
  100% {
    margin: 0 auto;
    width: 0;
    opacity: 0;
  }
}

@keyframes top-line-animation-close {
  0% {
    margin: 0 auto;
    transform: translateY(2px) rotate(-45deg);
  }
  50%,
  100% {
    margin: 5px auto;
    transform: translateY(0px) rotate(0deg);
  }
}
@keyframes middle-line-animation-close {
  0% {
    margin: 0 auto;
    width: 0;
    opacity: 0;
  }
  20%,
  100% {
    margin: 0px auto;
    width: 60%;
    opacity: 1;
  }
}
@keyframes bottom-line-animation-close {
  0% {
    margin: 0 auto;
    transform: translateY(2px) rotate(-45deg);
  }
  50%,
  100% {
    margin: 5px auto;
    transform: translateY(0px) rotate(0deg);
  }
}
/*RESPONSIVE*/
/*COMPUTADORA MEDIANA*/
/*1366×768*//*
@media (min-width: 1366px) {

}*/
/*MOVIL GRANDE*/
/*720x1280*/
@media (min-width: 720px) and (max-width: 1366px) {
.text_p{
  margin: 0;
  font-size: 33px;
}
}
/*MOVIL PEQUEÑO*/
/*360×640*//*
@media (min-width: 360px) and (max-width: 719px){

}*/